<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>280773887225-78q14stnnks9cdvio4boqhkuii8a1bum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280773887225-78q14stnnks9cdvio4boqhkuii8a1bum</string>
	<key>API_KEY</key>
	<string>AIzaSyApi4Cql4DXvr6ap0BJyZRRwzic-tkZrCc</string>
	<key>GCM_SENDER_ID</key>
	<string>280773887225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextacademy.Fakestagram</string>
	<key>PROJECT_ID</key>
	<string>tagram-49995</string>
	<key>STORAGE_BUCKET</key>
	<string>tagram-49995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280773887225:ios:7f96f50bc0f6f358</string>
	<key>DATABASE_URL</key>
	<string>https://tagram-49995.firebaseio.com</string>
</dict>
</plist>